/* NAV AND HEADER */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---- */

.list-group-item {
    border-style: hidden;
    background-color: #DCDCDC;
    text-align: center;
}

.categories-title {
    padding:15px;
    text-align: center;

}


/* CUSTOMIZE BUTTONS */

.product-link {
color: black;
}

.form-container {
width: 50%;
padding: 20px;
float: left;

}

.side-box {
padding: 50px;

float: left;
width: 25%;
height:90vh;
background-color: #5F9EA0;

}

.details-title {
margin: 20px;
text-align: center;
}


img {
width: 500px;
height: 500px;
}
