{% extends 'base.html' %}

{% block header %}Are you sure you want to delete your profile? {% endblock %}
{% block title %} Delete {% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 d-flex justify-content-center">
                <input type="submit" class="btn btn-danger btn-lg" value="Yes, delete it">
                <a class="btn btn-dark btn-lg ml-2" href="{% url 'profile_view' user.profile.id %}">No, keep it</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}