{% extends 'base.html' %}

{% block header %}Billing & Shipping{% endblock %}
{% block content %}

<form method="post">{% csrf_token %}
    <div class="container pt-4">

        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show mb-0 mt-2" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-lg-4 pb-3 mx-5">

                <div class="title pb-3">
                    <h5 class="font-weight-bold border-bottom border-secondary pb-2 pt-2">Shipping address<i class="fa fa-arrow-down float-right" aria-hidden="true"></i></h5>
                </div>

                <div class="hideable_shipping_address">
                    <div class="form-group">
                        <label for="shipping_address1" class="">Address</label>
                        <input type="text" placeholder="1234 Main St" id="shipping_address1" name="shipping_address1" class="form-control">

                        <label for="shipping_address2" class="">Address 2(optional)</label>
                        <input type="text" placeholder="Apartment or suite" id="shipping_address2" name="shipping_address2" class="form-control">


                        {{ form.shipping_country.id_for_label }}
                        {{ form.shipping_country }}

                        <label for="shipping_zip" class="">Zip</label>
                        <input type="text" placeholder="Postal code" id="shipping_zip" name="shipping_zip" class="form-control">

                        <input type="checkbox" class="form-check" name="same_billing_address" id="same_billing_address">
                        <label class="" for="same_billing_address">Billing address is the same</label>


                        <input type="checkbox" class="form-check" name="set_default_shipping" id="set_default_shipping">
                        <label class="" for="set_default_shipping">Save as default shipping address</label>

                    </div>
                </div>

                <input type="checkbox" class="form-check" name="use_default_shipping" id="use_default_shipping">
                <label class="" for="use_default_shipping">Use default shipping address</label>



                <div class="title pb-3">
                    <h5 class="font-weight-bold border-bottom border-secondary pb-2 pt-2">Billing address<i class="fa fa-arrow-down float-right" aria-hidden="true"></i></h5>
                </div>

                <div class="hideable_billing_address">
                    <div class="form-group">
                        <label for="billing_address1" class="">Address</label>
                        <input type="text" placeholder="1234 Main St" id="billing_address1" name="billing_address1" class="form-control">

                        <label for="billing_address2" class="">Address 2(optional)</label>
                        <input type="text" placeholder="Apartment or suite" id="billing_address2" name="billing_address2" class="form-control">


                        {{ form.billing_country.id_for_label }}
                        {{ form.billing_country }}

                        <label for="billing_zip" class="">Zip</label>
                        <input type="text" placeholder="Postal code" id="billing_zip" name="billing_zip" class="form-control">


                        <input type="checkbox" class="form-check" name="set_default_billing" id="set_default_billing">
                        <label class="" for="set_default_billing">Save as default billing address</label>

                    </div>
                </div>

                <input type="checkbox" class="form-check" name="use_default_billing" id="use_default_billing">
                <label class="" for="use_default_billing">Use default billing address</label>


            <div class="row justify-content-center pb-4">
                <input type="submit" class="btn btn-dark  float-right" value="Continue to payment">
            </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}