{% extends 'base.html' %}
{% load static %}
{% block header %}Billing & Shipping{% endblock %}
{% block content %}


<form method="post">{% csrf_token %}


    <div class="container pt-4">

        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show mb-0 mt-2" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-lg-5 pb-3 mx-5">

                <div class="title pb-3">
                    <h5 class="font-weight-bold border-bottom border-secondary pb-2 pt-2">Shipping address<i class="fa fa-arrow-down float-right" aria-hidden="true"></i></h5>
                </div>

                <div class="hideable_shipping_form">

                    <div class="form-group">

                        <label for="shipping_address1" class="">Address</label>
                        <input type="text" placeholder="1234 Main St" id="shipping_address1" name="shipping_address1" class="form-control mb-3">


                        <label for="shipping_address2" class="">Address 2 (optional)</label>
                        <input type="text" placeholder="Apartment or suite" id="shipping_address2" name="shipping_address2" class="form-control mb-3">


                        {{ form.shipping_country.id_for_label }}
                        {{ form.shipping_country }}

                        <label for="shipping_zip" class="">Zip</label>
                        <input type="text" placeholder="Postal code" id="shipping_zip" name="shipping_zip" class="form-control mb-3">

                        <div class="form-check pt-2">
                            <input type="checkbox" class="form-check-input" name="same_billing_address" id="same_billing_address">
                            <label class="form-check-label" for="same_billing_address">Billing address is the same</label>
                        </div>

                        <div class="form-check pt-1 pb-1 border-bottom border-secondary">
                            <input type="checkbox" class="form-check-input" name="set_default_shipping" id="set_default_shipping">
                            <label class="form-check-label" for="set_default_shipping">Save as default shipping address</label>
                        </div>


                    </div>
                </div>
                {% if default_shipping_address %}
                <div class="form-check">

                    <input type="checkbox" class="form-check-input" name="use_default_shipping" id="use_default_shipping">
                    <label class="form-check-label" for="use_default_shipping">Use default shipping address</label>



                </div>
                {% endif %}









                <div class="title pb-3">
                    <h5 class="font-weight-bold border-bottom border-secondary pb-2 pt-5">Billing address<i class="fa fa-arrow-down float-right" aria-hidden="true"></i></h5>
                </div>

                <div class="hideable_billing_form">
                    <div class="form-group">
                        <label for="billing_address1" class="">Address</label>
                        <input type="text" placeholder="1234 Main St" id="billing_address1" name="billing_address1" class="form-control mb-3">

                        <label for="billing_address2" class="">Address 2(optional)</label>
                        <input type="text" placeholder="Apartment or suite" id="billing_address2" name="billing_address2" class="form-control mb-3">


                        {{ form.billing_country.id_for_label }}
                        {{ form.billing_country }}

                        <label for="billing_zip" class="">Zip</label>
                        <input type="text" placeholder="Postal code" id="billing_zip" name="billing_zip" class="form-control mb-3">

                        <div class="form-check pt-1 pb-1 border-bottom border-secondary">
                            <input type="checkbox" class="form-check-input" name="set_default_billing" id="set_default_billing">
                        <label class="form-check-label" for="set_default_billing">Save as default billing address</label>
                        </div>





                    </div>
                </div>

                <div class="form-check pb-4">
                 <input type="checkbox" class="form-check-input" name="use_default_billing" id="use_default_billing">
                <label class="form-check-label" for="use_default_billing">Use default billing address</label>
                </div>



            <div class="row justify-content-center pb-4">
                <input type="submit" class="btn btn-dark  float-right" value="Continue to payment">
            </div>
            </div>
        </div>
    </div>


</form>



{% endblock %}


{% block extra_scripts %}

<script type="text/javascript" src="{% static 'my_store/jquery-3.6.0.min.js' %}"></script>
<script>
var hideable_billing_form = $('.hideable_billing_form');
var hideable_shipping_form = $('.hideable_shipping_form');


var use_default_billing = document.querySelector("input[name=use_default_billing]");
var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var same_billing_address = document.querySelector("input[name=same_billing_address]");


same_billing_address.addEventListener('change', function() {
    if (this.checked) {
    hideable_billing_form.hide();
    $('input[id="use_default_billing"]').hide();
    $('label[for="use_default_billing"]').hide();
    } else {
    hideable_billing_form.show();
     $('input[id="use_default_billing"]').show();
    $('label[for="use_default_billing"]').show();
    }
})



use_default_shipping.addEventListener('change', function() {
if (this.checked) {
   hideable_shipping_form.hide();

    } else {
   hideable_shipping_form.show();

    }
   })

use_default_billing.addEventListener('change', function() {
   if (this.checked) {
      hideable_billing_form.hide();
    } else {
      hideable_billing_form.show();
    }
   })
    </script>
{% endblock extra_scripts %}
