{% extends 'base.html' %}


{% block title %}Categories{% endblock %}


{% block header %}All categories{% endblock %}


{% block content %}
<div class="container-fluid pt-5">
    <div class="row bg-light justify-content-center">
            <div class="col-4">

                {% for c in categories %}
                <ul class="list-group">
                        <li class="list-group-item">{{ c.name }}
                            {% if perms.my_store.delete_category %}
                            <a href="{% url 'edit_category' c.id %}">Edit</a>
                            {% endif %}
                        </li>
                </ul>
                {% endfor %}

                {% if perms.my_store.create_category %}
                <a href="{% url 'create_category' %}">Add category</a>

                {% endif %}
            </div>
    </div>
</div>
{% endblock %}