{% extends 'base.html' %}

{% block header %}Checkout{% endblock %}
{% block content %}




<form method="post">
    {% csrf_token %}
    <div class="container pt-4">
        <div class="row justify-content-center">
            <div class="col-lg-4 ">
                    <div class="title pb-3">
                        <h5 class="font-weight-bold border-bottom border-secondary pb-2 pt-2">Billing address<i class="fa fa-arrow-down float-right" aria-hidden="true"></i></h5>
                    </div>

                {% for field in form %}

                    {% if forloop.last %}
                <div class="title pb-2">
                        <h5 class="font-weight-bold border-bottom border-secondary  pb-2 pt-3">Payment method<i class="fa fa-arrow-down float-right" aria-hidden="true"></i></h5>
                    </div>
                    {% for radio in form.payment_options %}
                    <div class="form-check py-1">

                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                        {{ radio.choice_label }}
                        </label>
                    </div>
                    {% endfor %}

                    {% else %}
                        <div class="form-group ">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
           <div class="row justify-content-center pt-5 pb-4">
            <input type="submit" class="btn btn-dark" value="Continue">
                </div>
    </div>
</form>









{% endblock %}