{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

<header>
    <h1>Products</h1>
</header>

<nav>
    <h4 style="text-align: center;">Navbar</h4>
</nav>

<div class="list-group-container">
    <h4 class="categories-title">Categories</h4>
    {% for c in categories %}
    <ul class="list-group">
        <li class="list-group-item">{{ c.name }}</li>
    </ul>
    {% endfor %}
</div>

<div class="table-container">
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
    </tr>
    </thead>

        <tbody>
        {% for p in products %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.category.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity | default:'-'}}</td>
            <td>{{ p.description | default:'-'}}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

<a class="btn btn-primary" href="{% url 'create_product' %}" role="button">Add product</a>




{% endblock %}
</div>
