{% extends 'base.html' %}

{% load static %}

{% block title %}Details{% endblock %}


{% block header %}Details{% endblock %}


{% block content %}
<div class="container pt-5">

    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show " role="alert">

                {% for message in messages %}
                    {{ message }}
                {% endfor %}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
     {% endif %}


    <div class="row justify-content-center no-gutters">



        <div class="col-lg-4 bg-light">
            {% if products.image %}
            <img src="{{ products.image.url }}" class="float-right bg-white"
                 style="object-fit: contain; width: 100%; max-height: 400px;">
            {% endif %}

        </div>
        <div class="col-lg-8">
            <div class="card " style="border: 0;">
                <div class="card-body ml-3">

                    <h5 class="card-title font-weight-bold">{{products.name}}</h5>

                    <p class="card-text">{{products.description}}</p>
                    <p class="card-text font-weight-bold">${{products.price}}</p>
                    <p class="card-text ">Brand: {{products.brand}}</p>

                    <p class="card-text">In stock: {{products.quantity}}</p>
                    <p class="card-text"><a href="{% url 'products' %}?category= {{ products.category.id}}">{{products.category}}</a></p>



                    {% if not user.is_authenticated %}

                    <button type="button" class="btn btn-dark" data-toggle="popover" data-trigger="focus"  data-content="You must be logged in to purchase products">Add to cart</button>

                    {% else %}
                    <a class="btn btn-dark" href="{% url 'add_to_cart' products.id %}">Add to cart</a>
                    {% endif %}

                    {% if perms.my_store.update_product %}

                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <a class="btn btn-dark" href="{% url 'delete_product' products.id %}">Delete</a>
                    <a class="btn btn-dark" href="{% url 'update_product' products.id %}">Update</a>
                    </div>
                    {% endif %}




                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
