{% extends 'base.html' %}
{% load static %}


{% block title %}Products{% endblock %}


{% block header %}

{% if category_name is None %}
All products
{% else %}
{{category_name}}
{% endif %}

{% endblock %}




{% block searchbar %}
<form class="form-inline my-2 my-lg-0" method="get" action="">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}




{% block content %}
<div class="container-fluid">
    <div class="row bg-light">
        <div class="col-lg-8 mx-auto mt-5">
            {% if perms.create_product %}
               <a class="btn btn-dark mb-3" href="{% url 'create_product' %}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add product
            </a>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-4">
                {% for p in products %}
                <div class="col mb-4">
                    <div class="card">
                        <a  class="card-link" href="{% url 'product_details' p.id %}">
                            {% if p.image %}
                            <img src="{{ p.image.url }}" class="card-img-top" alt="..." style="padding: 10px; height: 200px; object-fit: contain;">
                            {% endif %}
                        </a>

                        <div class="card-body">
                            <p>
                                <a class="text-dark" href="{% url 'product_details' p.id %}">
                                    <h5 class="card-title font-weight-bold">{{p.name}}</h5>
                                </a>
                            </p>

                                <p class="card-text text-right">${{p.price}}</p>
                        </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>

        </div>
    </div>


{% endblock %}
