
{% extends 'base.html' %}

{% load static %}
{% block title %}Product details{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-start">

           <div class="col-4">

               <img src="{% static 'images/iphone5.jpg' %}"
                class="img-fluid" alt="Iphone-5">

           </div>

            <div class="col-4">

                <h2 class="details-title">Product details</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Name: {{ products.name }}</li>
                        <li class="list-group-item">Price: {{ products.price }}</li>
                        <li class="list-group-item">Quantity: {{ products.quantity }}</li>
                        <li class="list-group-item">Description: {{ products.description }}</li>
                        <li class="list-group-item">Category: {{ products.category }}</li>
                    </ul>

                <a class="btn btn-primary" href="{% url 'update_product' products.id %}">Update product</a>
                <a class="btn btn-primary" href="{% url 'delete_product' products.id %}">Delete product</a>
                <a class="btn btn-primary" href="{% url 'buy_product' products.id %}">Buy</a>
            </div>
    </div>
</div>



{% endblock %}