{% extends 'base.html' %}

{% load static %}

{% block title %}Details{% endblock %}


{% block header %}Details{% endblock %}


{% block content %}
<div class="container pt-5">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-4 bg-light">
            {% if products.image %}
            <img src="{{ products.image.url }}" class="float-right bg-white"
                 style="object-fit: contain; width: 100%; max-height: 400px;">
            {% endif %}

        </div>
        <div class="col-lg-8">
            <div class="card " style="border: 0;">
                <div class="card-body ml-3">

                    <h5 class="card-title font-weight-bold">{{products.name}}</h5>

                    <p class="card-text">{{products.description}}</p>
                    <p class="card-text font-weight-bold">${{products.price}}</p>
                    <p class="card-text ">Brand: {{products.brand}}</p>

                    <p class="card-text">In stock: {{products.quantity}}</p>
                    <p class="card-text"><a href="{% url 'products' %}?category= {{ products.category.id}}">{{products.category}}</a></p>


                {% if not user.is_authenticated %}
                <button type="button" class="btn btn-dark" data-toggle="popover" data-trigger="focus"  data-content="You must be logged in to purchase products">Buy</button>
                {% endif %}
                {% if perms.my_store.update_product %}
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <a class="btn btn-dark" href="{% url 'delete_product' products.id %}">Delete</a>
                    <a class="btn btn-dark" href="{% url 'update_product' products.id %}">Update</a>
                </div>
                {% endif %}



                {% if user.is_authenticated %}
                    <a class="btn btn-dark" href="{% url 'confirm_buy_product' products.id %}">Buy</a>

                {% endif %}
                                        <a class="btn btn-dark" href="{% url 'add_to_cart' products.id %}">Add to cart</a>
                    <a class="btn btn-dark" href="{% url 'remove_from_cart' products.id %}">Remove from cart</a>
                </div>

            </div>
    </div>
    </div>
</div>

{% endblock %}
