{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
    </tr>
    </thead>

    <tbody>
    {% for p in products %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.category.name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.quantity | default:'-'}}</td>
        <td>{{ p.description | default:'-'}}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}