/* NAV AND HEADER */
nav {
padding: 4px;
background-color: #5F9EA0;
}

header {
background-color: lightblue;
margin: auto;
padding: 30px;
height: 10%;
border-bottom-style: outset;
text-align: center;
}


/* CATEGORIES GROUP */
.list-group-container {
    float: left;
    width: 20%;
    border-style: hidden;
    background-color: #DCDCDC;
}

.list-group-item {
    border-style: hidden;
    background-color: #DCDCDC;
    text-align: center;
}

.categories-title {
    padding:15px;
    text-align: center;

}




/* TABLE */
.table-container {
    float: left;
    width: 80%;
    border-left-style: outset;
    border-right-style: outset;
}

/* CUSTOMIZE BUTTONS */

.product-link {
color: black;
}

.form-container {
width: 50%;
padding: 20px;
float: left;

}

.side-box {
padding: 50px;

float: left;
width: 25%;
height:90vh;
background-color: #5F9EA0;

}

